.users-view{
    position: relative;
}

.user-profile-img{
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 20px;
}

.user-profile-img > img{
    position: relative;

    display: block;
    width: 225px;
    left: 50%;
    margin-left: -122px;
}

.user-edit-btn{
    position: absolute;
    top:0;
    right: 0;

    font-size: 25px;
    color: #333333;
    line-height: 2;

    opacity: 0.5;

    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.user-edit-btn:hover{
    color: #333333;
    text-decoration: none;

    opacity: 1;
}